p {
    font-family: montserrat,sans-serif;
    font-weight: 400; 
    font-style: normal;
    font-size: 12px;
    }

h1  {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    color: #000000;
    }

h2  {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    margin-left: 80px;
    color: #000000;
    }

.two-columns
    {    float: left;
         margin: 0 1.5%;
         width: 45%;
    }





/* font-family: montserrat,sans-serif;
font-weight: 400; 
font-style: normal; */

/* font-family: montserrat,sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: montserrat,sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: montserrat,sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: montserrat-alternates,sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: montserrat-alternates,sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: montserrat-alternates,sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: montserrat-alternates,sans-serif;
font-weight: 700;
font-style: normal; */
